.dataTable tr th, .dataTable tr td {
    text-align: center !important;
    font-weight: normal;
}

.table tr th, .table tr td {
    text-align: center !important;
    font-weight: normal !important;
}

.red {
    color: red;
}

.gray {
    color: gray;
}

.green {
    color: green;
}

.img {
    display: inline-block !important;
}

* {
    font-weight: normal !important;
}

.bootstrap-datetimepicker-widget {
    z-index: 999999 !important;
}

.hide {
    display: none;
}

.pointer {
    cursor: pointer;
}

.startTime, .endTime {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
}